<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><asset:image src="grails_logo.png" alt="Grails"/></a>
        </div>

        <div id="navbar" class="navbar-collapse collapse navbar-right">
            <g:render template="/common/topbar"/>
        </div><!--/.navbar-collapse -->
    </div>
</nav>