<!DOCTYPE html>
<html>
	<head>
		<meta name="layout" content="main"/>
		<title>GGSCMS</title>
	</head>
	<body>
			<h1>Техническое задание на разработку системы управления для проектного обучения</h1>
			<h2>1    Общие сведения</h2>
			Система управления для проектного обучения.
			<h2>2 Назначение</h2>
			<ul>
				<li>Организация проектного обучения</li>
				<li>Тестирования и оценка учащихся</li>
			</ul>
			<h2>3    Требования</h2>
			<h3>3.1    Требования к ролевой структуре</h3>
			<ul>
				<li>Администратор</li>
				<li>Учитель</li>
				<li>Ученик</li>
				<li>Слушатель</li>
			</ul>
			<h3>3.2    Требования к системе управления</h3>
			<h4>Администратор:</h4>
			<ul>
				<li>Управление курсами (создание, редактирование, удаление)</li>
				<li>Управление ролями пользователей от Слушателя до Учителя</li>
				<li>Назначение учителей для курсов</li>
				<li>Все действия для низших ролей</li>
			</ul>
			<h4>Учитель:</h4>
			<ul>
				<li>Управление учениками курса (добавить, удалить, изменение роли ученик-слушать)</li>
				<li>Управление учебным планом (создание, редактирование, удаление)</li>
				<li>Управление материалами для обучения (создание, редактирование, удаление)</li>
				<li>Управление тестами (создание, редактирование, удаление)</li>
				<li>Просмотр результатов тестов</li>
				<li>Управление рейтингом успеваемости (выставление оценок за тесты)</li>
				<li>Все действия для низших ролей</li>
			</ul>
			<h4>Ученик:</h4>
			<ul>
				<li>Просмотр учебного плана</li>
				<li>Просмотр материалов для обучения</li>
				<li>Прохождение тестов</li>
				<li>Просмотр статистики успеваемости</li>
			</ul>
			<h4>Слушатель:</h4>
			<ul>
				<li>Просмотр учебного плана</li>
				<li>Просмотр материалов для обучения</li>
				<li>Просмотр тестов</li>
			</ul>
			<h2>4 Дополнительные требования</h2>
			<ul>
				<li>Страница регистрации пользователей</li>
				<li>Публикация материалов курса по времени</li>
				<li>Предупреждение о не пройдённых тестах</li>
			</ul>
	</body>
</html>
